.feedItem {
  display: flex;
  flex-direction: column;
  min-width: 548px;
  gap: 24px;
  padding: 24px;
  background: #1c1c21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ingredientsAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ingredients {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  flex-direction: row-reverse;
}

.priceWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.ingredient {
  background: linear-gradient(#131316, #131316) padding-box,
    linear-gradient(to right, #801ab2, #4c4cff) border-box;
  border: 2px solid transparent;
  background-color: #1c1c21;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 180%;
}
