.tabList {
  max-height: 69vh;
  overflow-y: scroll;
}

.tabList::-webkit-scrollbar {
  width: 1em;
}

.tabList::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.tabList::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 24px;
}

.image {
  width: 240px;
  height: 120px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 54px; */
  position: relative;
}

.info {
  display: flex;
  align-items: center;
}

.counter {
  position: absolute;
}
