.draggable {
    position: relative;
  }
  .draggable::after {
    content: "";
    position: absolute;
      cursor: pointer;
    background-image: url(../../images/drag.svg);
    width: 13px;
    height: 18px;
    top: 30px;
    left: -25px;
  }