.forgotPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
  }
  
  .link {
    color: #4c4cff;
    text-decoration: none;
  }
  
  .button {
      display: block;
      margin: 0 auto 80px auto;
  }
  