.image {
    width: 240px;
    height: 120px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 250px;
    text-align: center;
  }
  
  .info {
    display: flex;
    align-items: center;
  }
  
  .counter {
    position: absolute;
  }